{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 
    
<div class="p-5 bg-light">
    <div class="container">
        <div class="h-100 p-5 text-dark bg-success border rounded-5">
            <h2 class="display-4">Laboratorio de Cromatrografía</h2>
            <p class="lead">Registrar usuario</p>
            <hr class="my-2">
            <button class="btn Swap" href="Jumbo action link" type="button">Empezar</button>
        </div>
    </div>
</div>

{% endblock %}
    
